<html>
<head>
<title>Resume Builder</title>
</head>
<body background="http://3.bp.blogspot.com/-3UIjuTrbAI8/Uihk5uaH_lI/AAAAAAAAAuk/gcn5XlQ9kyI/s640/Top+10+best+Simple+Awesome+Background+Images+for+Your+Website+or+Blog2.jpg">
<img src="https://cqulgo.corednacdn.com/web_images/blogs/216/1459/What%20is%20a%20resume_940x485.jpg" align="right" width="800" height="600">
<h1 align="center">RESUME BUILDER<b></b></h1>
<h2 align="left">Design a standout resume in minutes</h2>
<h3>Browse through hundreds of ready-made templates and customize a resume that highlights your unique strengths.</h3>
</body>
</html><button type="button"><a href="http://127.0.0.1:8000/create">Build My Resume!</a></button>
