<html>
<head>
<title>Professional Template</title>
</head>
<body background="http://tafnn.tntsj.com/images/20855-3.jpg">
<h1 align="center">{{person.FirstName}} {{person.LastName}}</h1>
<h4 align="center">{{person.ResidentailAddress}},{{person.City}},{{person.State}},{{person.MobileNumber}}</h4>
<h2>Summary(Career Objective)</h2>
<hr>
<ul type="disc">
{% for sumline in person.splitsummary %}
<li>{{ sumline }}</li><br>
{% endfor %}
<!-- <li>{{summary0}}</li>
<li>{{summary1}}</li>
<li>{{summary2}}</li> -->
</ul>
<h2>Educational Qualifications</h2>
<hr>
<ol type="1">
<li>Engineering from {{person.CollegeName}} with CGPA {{person.Cgpa}}</li>
{% for sumline in person.spliteducationsummary %}
<li>{{ sumline }}</li><br>
{% endfor %}

</ol>
<h2>Employment History</h2>
<hr>
<ol type="1">
<li>Worked in {{person.Company}} as {{person.JobTitle}} at {{person.Location}}</li>
{% for sumline in person.splitworksummary %}
<li>{{ sumline }}</li><br>
{% endfor %}
<!-- <ol type="i">
<li>comp 1</li>
<li>comp 2</li>
</ol>
<li>company 1 name</li>
<ol type="i">
<li>comp 1</li>
<li>comp 2</li>
</ol> -->
</ol>
<h2>Hobbies and Interests</h2>
<hr>
<ul type="disc">
{% for sumline in person.splithobbiessummary %}
<li>{{ sumline }}</li><br>
{% endfor %}

</ul>
<h2>Personal Skills</h2>
<hr>
<ol type="1">
<li>skill-level</li>
<li>skill-level</li>
<li>skill-level</li>
<p>{{person.SkillSummary}}</p>
</ol>
<h2>Languages Known</h2>
<hr>
<ul type="disc">
{% for sumline in person.splitlang %}
<li>{{ sumline }}</li><br>
{% endfor %}

</ul>
<h2>Reference</h2>
<hr>
<ol type="1">
<br>Name : {{person.RefName}}
<br>Contact No: {{person.RefNo}}
<br>Company : {{person.RefCompany}}
<br>Email : {{person.RefEmail}}


</ol>
</ol>
</body>
</html>